*
{
  margin: 0;
  padding: 0;
}

.headers{
        margin: 20px 0;
        text-align: center;
}
#input-task input::placeholder, #input-task input {
    padding-left: 10px;
}

.list-container{
        margin: auto;
        text-align: center;
        max-width: 800px;
}
.task-container{
    justify-items: center;
    display: flex;
}

.list-container input{
        width: 95%;
        height: 30px;
        margin: 6px 0;
}
.list-container div{
        border: 1px solid black;
        box-sizing: border-box;
        margin: -1px;
}

.time-container  {
  display: flex;
  align-items: center;
  font-size: 10px;
}


.list-container .no-border {
    border: none;
}
.task-text{
    width: 80%;
    padding-top: 10px;
}
.remove-item{
    width: 5%;
    font-size: 30px;
    padding: 5px 5px 0 0;
    text-align: right;
}
.task-container form label{
    width: 140px;
}
.task-container form{
        width: 15%;
        display: flex;
}
.list-container label{
        margin:  auto 0;
}

.hide{
        display: none;
}
